@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("~leaflet/dist/leaflet.css");

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.outlineCss {
  outline-bottom: 1px solid black;
}

.btnBackground {
  background: rgb(255, 90, 95);
  background: linear-gradient(
    90deg,
    rgba(255, 90, 95, 1) 0%,
    rgba(187, 28, 87, 1) 52%,
    rgba(187, 28, 87, 1) 52%
  );
}
.btn-underline-hover {
  position: relative;
}

.btn-underline-hover:hover {
  opacity: 60%;
}

.btn-underline-hover::after {
  content: "";
  border-bottom: 2px solid black;
  height: 5px;
  width: 0%;
  position: absolute;
  left: 0;
  top: 25px;
  transition: 0.3s ease-in-out;
}

.btn-underline-hover:hover::after {
  width: 100%;
}

.btn-underline-hover:focus::after {
  content: "";
  border-bottom: 2px solid black;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 25px;
}

img {
  user-select: none;
}

@font-face {
  font-family: "cerealLight";
  src: url("../components/fonts/cereal/AirbnbCereal_W_Lt.otf");
}

@font-face {
  font-family: "cerealNormal";
  src: url("../components/fonts/cereal/AirbnbCereal_W_Bk.otf");
}

@font-face {
  font-family: "cerealDk2";
  src: url("../components/fonts/cereal/AirbnbCereal_W_Blk.otf");
}

@font-face {
  font-family: "cerealMedium";
  src: url("../components/fonts/cereal/AirbnbCereal_W_Md.otf");
}

@font-face {
  font-family: "cerealBold";
  src: url("../components/fonts/cereal/AirbnbCereal_W_Bd.otf");
}
@font-face {
  font-family: "cerealExtraBold";
  src: url("../components/fonts/cereal/AirbnbCereal_W_XBd.otf");
}

.leaflet-container {
  width: 100%;
  height: 50vh;
}
